<a href="https://colab.research.google.com/github/harryyang1982/doit_python/blob/main/Chapter7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'sex': ['M', 'F', np.nan, 'M', 'F'],
                   'score': [5, 4, 3, 4, np.nan]})

In [3]:
df

   sex  score
0    M    5.0
1    F    4.0
2  NaN    3.0
3    M    4.0
4    F    NaN

In [4]:
df['score'] + 1

0    6.0
1    5.0
2    4.0
3    5.0
4    NaN
Name: score, dtype: float64

In [5]:
pd.isna(df)

     sex  score
0  False  False
1  False  False
2   True  False
3  False  False
4  False   True